:root{
    --vermelho:#E10600;
    --amarelo:#FFD100;
    --preto:#121212;
    --branco:#FFFFFF;
}
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:var(--preto);
    color:var(--branco);

    font-size:1.2rem;
}
header{
    background:black;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:var(--vermelho);
    font-size:32px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    min-height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:64px;
    color:var(--vermelho);
}

.hero p{
    font-size:22px;
    max-width:700px;
}

.btn{
    margin-top:20px;
    padding:15px 30px;
    border:none;
    background:var(--vermelho);
    color:white;
    cursor:pointer;
    border-radius:8px;
    font-size:18px;
}

.btn:hover{
    background:#c40500;
}

.cards{
    display:flex;
    gap:20px;
    padding:40px;
}

.card{
    flex:1;
    background:#1f1f1f;
    border-left:5px solid var(--amarelo);
    padding:20px;
    border-radius:10px;
}
.titulo-secao{
    text-align:center;
    margin-bottom:40px;
    color:#FFD100;
}

.card-btn{
    flex:1;
    background:#1f1f1f;
    border:none;
    border-left:5px solid #FFD100;

    color:white;

    padding:30px;

    border-radius:10px;

    cursor:pointer;

    transition:0.3s;

    text-align:left;
}

.card-btn:hover{
    transform:translateY(-5px);

    background:#2a2a2a;
}

.login-container{

    width:600px;
    max-width:90%;

    margin:auto;

    background:#1f1f1f;

    padding:50px;

    border-radius:15px;

    display:flex;
    flex-direction:column;

    gap:15px;

    text-align:center;

    box-shadow:0 0 25px rgba(0,0,0,.5);
}

.login-container h2{
    color:#E10600;
    font-size:36px;
}

.login-container p{
    color:#ccc;
    margin-bottom:15px;
}

.login-container input,
.login-container select{

    padding:15px;

    border:none;

    border-radius:8px;

    font-size:16px;
}

.btn-login{

    background:#E10600;

    color:white;

    border:none;

    padding:15px;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;

    font-weight:bold;
}

.btn-login:hover{
    background:#c40500;
}

#login{
    padding:80px 0;
}
.btn-principal{

    width:100%;

    background:#E10600;

    color:white;

    border:none;

    padding:18px;

    border-radius:50px;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

.btn-principal:hover{

    transform:translateY(-3px);

    background:#c40500;

    box-shadow:
        0 0 25px rgba(225,6,0,.5);
}
.sobre{

    display:flex;

    justify-content:center;

    padding:80px 0;
}

.sobre-container{

    width:1000px;

    max-width:90%;
}

.sobre-container h2{

    color:#FFD100;

    margin-bottom:20px;
}

.sobre-container p{

    line-height:1.8;
}
.tabela{

    margin-top:30px;

    border-collapse:collapse;

    width:600px;

    max-width:90%;

    background:#1f1f1f;
}

.tabela th,
.tabela td{

    border:1px solid #333;

    padding:15px;

    text-align:center;
}
.agenda-box{

    width:800px;
    max-width:95%;

    background:#1a1a1a;

    padding:50px;

    border-radius:20px;

    border-top:5px solid #E10600;

    box-shadow:
        0 0 30px rgba(0,0,0,.6);

    margin:auto;
}

.agenda-box h2{

    color:#FFD100;

    margin-bottom:15px;
}
.agenda-box input,
.agenda-box select{

    width:100%;

    background:#252525;

    color:white;

    border:none;

    border-radius:12px;

    padding:18px;

    font-size:18px;

    margin-bottom:20px;
}

#listaCorridas{

    margin-top:30px;

    width:1000px;

    max-width:90%;
}
input[type="date"]{

    color:white;

    background:#252525;

    border-radius:12px;

    padding:18px;
}
.ranking-container{

    width:900px;

    max-width:95%;

    background:#1a1a1a;

    border-radius:20px;

    padding:40px;

    margin:auto;
}

.ranking-container h2{

    color:#FFD100;

    margin-bottom:25px;
}

.ranking{

    width:100%;

    border-collapse:collapse;
}

.ranking th{

    background:#E10600;

    padding:18px;
}

.ranking td{

    padding:18px;

    border-bottom:1px solid #333;
}

.ranking tr:hover{

    background:#252525;
}
.corrida-container{

    width:800px;

    max-width:95%;

    margin:auto;

    background:#1a1a1a;

    padding:50px;

    border-radius:20px;

    border-top:5px solid #FFD100;
}

.corrida-container h2{

    color:#FFD100;

    margin-bottom:20px;
}

.corrida-container input{

    width:100%;

    background:#252525;

    color:white;

    border:none;

    border-radius:12px;

    padding:18px;

    margin-bottom:20px;

    font-size:18px;
}
.dashboard{

    width:1200px;

    max-width:95%;

    margin:auto;

    padding:50px 0;
}

.dashboard h1{

    margin-bottom:40px;

    color:#FFD100;
}

.dashboard-cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:25px;
}

.dash-card{

    background:#1a1a1a;

    border-radius:20px;

    padding:30px;

    text-align:center;

    border-top:5px solid #E10600;

    transition:.3s;
}

.dash-card:hover{

    transform:translateY(-5px);

    box-shadow:
        0 0 25px rgba(225,6,0,.3);
}

.dash-card h2{

    font-size:40px;

    margin-bottom:10px;
}

.dash-card h3{

    font-size:32px;

    color:#FFD100;
}
.sidebar{

    position:fixed;

    left:0;
    top:0;

    width:250px;
    height:100vh;

    background:#111;

    padding:20px;
}

.sidebar h2{

    color:#E10600;

    margin-bottom:30px;
}

.sidebar a{

    display:block;

    color:white;

    text-decoration:none;

    padding:15px;

    margin-bottom:10px;

    border-radius:10px;

    transition:.3s;
}

.sidebar a:hover{

    background:#E10600;
}

.main{

    margin-left:270px;

    padding:40px;
}